<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.hello-world" version="1.0.0">
	<name>Hallo Babsi</name>
	<description>
        Liebeserklärung der besonderen Art. Aktuell von 2014.
    </description>
	<author href="http://www.hexerei.ch" email="mw@ti.notizia.ch">
        Markus Winter
    </author>
</widget>
